:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --primary-font-weight: 700;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

/* Глобальный сброс стилей */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Studio Styles */

.header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 92px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.17;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list.refference {
  margin-left: auto;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
}

.nav-link.contact:hover,
.nav-link.contact:focus {
  color: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  color: var(--hero-text-color);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.btn:hover {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
}

.features-list .item {
  width: 270px;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.features-title {
  margin-bottom: 10px;
  font-weight: var(--primary-font-weight);
  line-height: 1.17;
  font-size: 14px;
  text-transform: uppercase;
}

.features-text {
  color: var(--text-color);
  line-height: 1.71;
  font-size: 14px;
}

.examples.section {
  padding-top: 0;
}

.examples-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: var(--primary-font-weight);
  font-size: 36px;
  line-height: 1.17;
}

.examples-list {
  display: flex;
}

.examples-item:not(:last-child) {
  margin-right: 30px;
}

.examples-img {
  display: block;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: var(--primary-font-weight);
  font-size: 36px;
  line-height: 1.17;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  display: block;
}

.team-img-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.17;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
}

.socials-icons {
  fill: currentColor;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}

.clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: var(--primary-font-weight);
  font-size: 36px;
  line-height: 1.17;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.logo.down {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.address {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--hero-text-color);
  font-style: normal;
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-join-title {
  font-weight: var(--primary-font-weight);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.socials-link.bg {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--hero-text-color);
}

.socials-link.bg:hover,
.socials-link.bg:focus {
  background-color: var(--accent-color);
}

/* Portfolio Styles */

.nav-list.filters {
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-portfolio.active {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.nav-list.gallery {
  flex-wrap: wrap;
}

.gallery-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-item:nth-child(3n + 3) {
  margin-right: 0;
}

.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.gallery-link {
  display: block;
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-img {
  display: block;
}

.gallery-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
